/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
.box{
    width: calc(100% / 7);
    height: 50px;
    background-color: red;
    border: 1px solid blue;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}