.container{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
.box{
    width: calc(100% / 8);
    background-color: red;
    border: 1px solid blue;
    text-align: center;
    line-height: 100%;
}